@{
    ViewBag.Title = "Xác nhận lấy lại mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       Vui lòng kiểm tra email để lấy lại mật khẩu.
    </p>
</div>
	
