@{
    ViewBag.Title = "Thông tin";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
